@model MvcTraining.Web.Areas.Admin.Models.Product

New Product
@using (Ajax.BeginForm("Create", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "SaveSuccess", OnFailure = "SaveError" }))
{
    <table border="1">
        <tr>
            <td>Name</td>
            <td>@Html.EditorFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>@Html.EditorFor(model => model.Category)</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@Html.EditorFor(model => model.Description)</td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>@Html.EditorFor(model => model.Weight)</td>
        </tr>
    </table>
    <button>Save</button>
}