@{
    ViewBag.Title = "Manage Products";
}

<h2>@ViewBag.Title</h2>
<br /><br />

@Ajax.ActionLink("New Product", "Create", new AjaxOptions { UpdateTargetId = "editDiv" })
<br /><br />

<div id="editDiv">
    @{Html.RenderAction("Create");}
</div>
<br /><br /><br />

<div id="productList">
    @{Html.RenderAction("List");}
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function SaveSuccess() {
            alert('Product successfully saved');
            window.location.reload();
        }

        function SaveError() {
            alert('Unable to save product');
        }

        function Deleted() {
            alert('Product successfully deleted');
            window.location.reload();
        }

        function DeleteFailed() {
            alert('Unable to delete product');
        }
    </script>
}
