@{
    ViewBag.Title = "Manage Products";
}

<h2>@ViewBag.Title</h2>

<div id="editDiv">
@Html.Action("Create")
</div>
<br /><br /><br />

@Html.Action("List")

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}