@model MvcTraining.Web.Areas.Online.Models.Customer

@{
    ViewBag.Title = "Register";
}
<h2>Register</h2>

<div id="register-form">@{ Html.RenderPartial("_CustomerContact"); }</div>

@section scripts 
{
	@Scripts.Render("~/bundles/jqueryval")
}