@model MvcTraining.Web.Areas.Online.Models.Customer

@{
    ViewBag.Title = "Register";
}
<section id="register-form" class="main">
	<h2>Register</h2>

	@{ Html.RenderPartial("_CustomerContact"); }
</section>

@section scripts 
{
	@Scripts.Render("~/bundles/jqueryval")
}