@{
	var ajaxOptions = new AjaxOptions() { UpdateTargetId = "mainArticle"};
}

<fieldset>
	<legend>Asp.Net MVC</legend>

	<ul>
		<li>Asp.Net MVC is open source: <a href="http://aspnetwebstack.codeplex.com/" target="_blank">http://aspnetwebstack.codeplex.com/</a></li>
		<li>Asp.Net MVC follows the conventions started by <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>:
			<ol>
				<li>Convention over configuration</li>
				<li>Code scaffolding through use of templates</li>
				<li>DRY (Don't Repeat Yourself)</li>
				<li>Routing</li>
				<li>Object Relational Mapper (ORM)</li>
			</ol>
		</li>
		<li>
			Asp.Net MVC Defaults:
			<ol>
				<li>Scaffolding: T4 Templates</li>
				<li>Html Templating: Razor or Aspx</li>
				<li>Routing: /{controller}/{action}/{id}</li>
				<li>ORM: Entity Framework (also <a href="http://entityframework.codeplex.com/" target="_blank">Open Sourced!</a>)</li>
			</ol>
		</li>
	</ul>
</fieldset>
<nav class="slides">
	@Ajax.ActionLink("Next", "Slide3", null, ajaxOptions, new { @class = "floatRight" })
	@Ajax.ActionLink("Back", "Slide1", null, ajaxOptions, new { @class = "floatLeft" })
</nav>