@{
	var ajaxOptions = new AjaxOptions() { UpdateTargetId = "mainArticle"};
}

<fieldset>
	<legend>Demo: Scaffolding</legend>

	<ul>
		<li>C:\Program Files (x86)\Microsoft Visual Studio {version}\Common7\IDE\ItemTemplates\CSharp\Web\MVC 4\CodeTemplates</li>
		<li>Can override by copying CodeTemplates folder into project</li>
	</ul>
</fieldset>
<nav class="slides">
	@Ajax.ActionLink("Next", "Slide5", null, ajaxOptions, new { @class = "floatRight" })
	@Ajax.ActionLink("Back", "Slide3", null, ajaxOptions, new { @class = "floatLeft" })
</nav>