@{
	var ajaxOptions = new AjaxOptions() { UpdateTargetId = "mainArticle"};
}

<fieldset>
	<legend>Project Structure</legend>

	<ul>
		<li>Model/View/Controller folders</li>
		<li>Controller name matches View folder name; Controller action matches View name</li>
		<li>Areas</li>
	</ul>
</fieldset>
<nav class="slides">
	@Ajax.ActionLink("Next", "Slide4", null, ajaxOptions, new { @class = "floatRight" })
	@Ajax.ActionLink("Back", "Slide2", null, ajaxOptions, new { @class = "floatLeft" })
</nav>